header {
    text-align: center;
    height: 10vh;
    color: white;
    background-color: #363636
}

body {
    color: white;
    background-color: black;
}

.title {
    color: white;
    text-align: center;
}

#bio {
    font-family: "Lato";
    font-size: x-large;
    text-align: center;
}

.about-image {
    padding-left: 450px;
    border: solid 3px black;
    border-radius: 30px 10px 100px 100px;
    width:70%;
}

.skills-flex {
    font-family: 'Lato', sans-serif;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #002626;
  }

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
color: white;
background-color: black;
height: 150px;
width: 275px;
margin-top: 20px;
margin-right: 20px;
}