header {
    text-align: center;
    height: 10vh;
    color: white;
    background-color: black;

}

body {
    background-color: black;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a i {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    font-family: Verdana, sans-serif;
}

.sidenav a:hover i:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h1,
h2 {
    text-align: left;
    color: white;
    text-decoration-line: underline overline;
    font-size: 2rem;
}


.main {
    display: flex; 
    flex: 50;
    flex-direction: row;
    justify-items: flex-end;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
}

.main-item {
    flex: 50;
}

.Intro {
    text-align: center;
    width: 50%;
}

.title {
    font-size: 5vw;
}

.image-container {
    flex: 50;
}

.image {
    border: solid 3px black;
    border-radius: 300px 100px 100px 100px;
    width:70%;
}

.contact {
    display: flex;
    justify-content: left;
    padding: 10px;
    padding-left: 7%;
}



@media screen and (max-width: 800px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav {
        font-size: 18px;
    }
    
    .main, .flex-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-item {
        flex: 100;
    }
    .image-container {
        height: auto;
        flex: 100;
    }
    .image {
        width: 100%;
    }
    .title {
        font-size: 15vw;  

    }
    .subtitle {
        font-size: 8vw;
        }
    .contact {
        font-size: 5vw;
    }
}










